h1,
p {
  font-family: Lato;
  color: black;
}
.buttonpack {
  margin: 2px;
}
.albumCover {
  clip-path: circle(35% at 50% 50%);
  width: 70%;
  height: 70%;
  margin-top: 20%;
}
.ImagePlaceholder {
  padding: 5%;
}

.leftAngle {
  float: left;
  margin-top: 50%;
}

.rightAngle {
  float: right;
  margin-top: 50%;
}
